.callToAction__title{
  font-family: Helvatica, sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #212353;
  max-width: 645px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .callToAction__title{
    font-size: 60px;
  }
}